.main__contacto {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    background-color: #EAF2FD;
}
.main__contacto__contenido {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.main__contacto__titulo {
    font-size: 1.15rem;
    color: #464646;
    font-weight: 700;
    font-family: Raleway;
}
.main__contacto__subtitulo {
    color: #464646;
    font-weight: 700;
    font-family: Raleway; 
    font-size: 1rem;
}
.main__contacto__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.main__contacto__form input {
    padding-bottom: 1.7rem;
}
.main__contacto__form button {
    background: #2A7AE4;
    color: #fff;
    width: 6.2rem;
    font-size: 0.875rem;
    border: 1px;
    font-weight: 600;
    font-family: Raleway;
}