.main__skills {
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.main__skills__titulo {
    text-align: center;
    font-size: 1.15rem;
    color: #464646;
    font-weight: 700;
    font-family: Raleway;
}

.main__skills__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.lista__descripcion {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.5rem;
    width: 45%;
    height: 7.375rem;
    background-color: #ffffff;
}

.lista__descripcion__img {
    margin-left: 1rem;
}

.lista__descripcion__span {
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1em;
    color: #464646;
    font-weight: 700;
    font-family: Raleway;
}

@media screen and (min-width:768px){ 
    .lista__descripcion {
        width: 30%;
    }
}
@media screen and (min-width:1366px){
    .lista__descripcion {
        height: 10.875rem;
    }
    .main__skills{
        padding: 2rem 9.5rem;
    }
    .main__skills__titulo.main__skills__titulo{
        font-size: 2rem;
    }
    .main__skills__lista{
        flex-wrap: nowrap;
    }
}