.main__sobre-mi {
    background-color: #EAF2FD;          
    padding: 1rem; 
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main__sobre-mi__titulo {
    font-size: 1.15rem;
    color: #464646;
    font-weight: 700;
    font-family: Raleway;
}

.main__sobre-mi__parrafo {
    font-size: 0.875;
    font-family: Raleway;
    color: #464646;
    font-weight: 400;
}

.main__sobre-mi__img {
    background-image: url(../img/firma.png);
    background-size: cover;
    box-sizing: border-box;
    width: 8.75rem;
    height: 3.25rem;
}